@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

.titulo {
    color: blue;
    font-size: 90px;
    text-shadow: 0.1em 0.1em #696868
}

.cabeçalho {
    display:flex;  
    justify-content: flex-start;
}

.section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.article {
    border: 2px solid blue;
    border-radius: 8px;
    width: 1000px;
    height: 300px;
    margin: 20px 10px 20px 10px;
    padding: 20px;
    background-color: rgb(151, 149, 149);
    color:white;
    box-sizing:content-box;
    text-align: justify;
}
.titulo_artigo {
    color: blue;
}

.link {
    color: blue;
}

.ref {
    color: black;
}

.rodape {
    background-color: rgb(77,77,231);
    color: white;
    text-shadow: 0.1em 0.1em #333;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction:row ;/* inline*/
    justify-content: center;
}

#rod {
    
    margin: 20px 10px 20px 10px;
    padding: 10px 10px 10px 10px;

}

#botão {
    background-color: transparent;
    border-color: black;
    border-radius: 6px;
}

input[type=email] {
    border: 1px solid black;
    border-radius: 2px;
}